.App {
  text-align: center;
}

.App-header {
  background-color: gold;
  padding: 1em;
  color: blueviolet;
  margin-bottom: 1em;
  font-size: 40px;
  font-family: fantasy;
  border-style: double;
  border-color: darkslategrey;
  border-width: 1rem;
}


